* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

:root {
  --primary-color: #4790e4;
  --black: #26292b;
  --black75: #5d5e60;
  --black50: #939495;
  --black25: #c9c9ca;
  --black10: #e9eaea;
  --black5: #f4f4f4;
  --error: #e63329;
}

body {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar */
.navbar {
  background: #fff;
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar .email-number ul {
  display: flex;
}

.navbar .email-number ul li {
  padding: 10px 10px;
  display: block;
  font-size: 16px;
  color: #4790e4;
}

.navbar .email-number ul li:last-child {
  font-weight: 700;
  color: var(--black);
}
.navbar ul li i {
  margin-right: 10px;
}

.navbar ul li a {
  padding: 10px 10px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  transition: 0.5s;
}

.navbar ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  display: block;
  margin: auto;
  transition: 0.7s;
}

.navbar ul li a:hover::after {
  width: 100%;
}

/* Hero */
.hero {
  min-height: 89vh;
  width: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(71, 144, 228, 0.7) 100%
    ),
    url(../images/DB_office.jpg);
  margin-bottom: 50px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .hero-logo {
  opacity: 85%;
  width: 500px;
  margin: 60px 0 0 0;
}

.hero .hero-content {
  width: 70%;
  text-align: center;
}

.hero .hero-text {
  padding-bottom: 36px;
}

/* About Us */
.about-us {
  width: 100%;
  margin: auto;
}

.about-para {
  padding-bottom: 40px;
}

/* Services */

.services {
  min-height: 80vh;
  width: 100%;
  padding: 20px;
}

.services .top-service {
  display: flex;
  align-items: center;
}

.services .top-service .img-top {
  flex: 1 1 45rem;
}
.services .top-service .img-top img {
  width: 100%;
}

.services .top-service .services-top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex: 1 1 45rem;
}

.services .top-service .services-top-content h3 {
  font-weight: bold;
  font-size: 2rem;
}

.services .top-service .services-top-content p {
  padding: 1rem;
}

.services .bottom-service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.services .bottom-service .img-bottom {
  flex: 1 1 45rem;
}
.services .bottom-service .img-bottom img {
  width: 100%;
}

.services .bottom-service .services-bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex: 1 1 45rem;
}

.services .bottom-service .services-bottom-content h3 {
  font-weight: bold;
  font-size: 2rem;
}

.services .bottom-service .services-bottom-content p {
  padding: 1rem;
}

/* Query Form */
.question {
  min-height: 80vh;
}

.question .container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question .container input,
.question .container textarea {
  width: 50%;
  padding: 15px;
  background: #b9d3f0;
  margin-bottom: 25px;
  outline: none;
  border: 1px solid #ccc;
}

/* Utility Classes*/
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 30px;
  background: var(--primary-color);
  color: var(--black);
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  box-shadow: -1px 20px 210px 4px rgba(44, 90, 105, 0.85);
  cursor: pointer;
  transition: 0.5s;
}

.btn-lmore {
  padding: 3px 15px;
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: -1px 20px 210px 4px rgba(44, 90, 105, 0.4);
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
  color: var(--black10);
}

.btn-lmore:hover {
  opacity: 0.8;
  color: var(--black10);
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
}

.btn-block {
  display: block;
  width: 100%;
}

/* Text Classes */
.text-xxl {
  color: var(--black);
  font-size: 6rem;
  line-height: 1.4;
  font-weight: 600;
  margin: 35px 0 20px;
}

.text-xl {
  color: var(--black);
  font-size: 5.2rem;
  line-height: 1.2;
  font-weight: normal;
  margin: 40px 0 20px;
}

.text-lg {
  color: var(--black);
  font-size: 3.6rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-md {
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-sm {
  color: var(--black75);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}

/* Background */
.bg-black10 {
  background: var(--black10);
}
